{% extends 'base.html' %}

{% block title %} Hello {% endblock %}

{% block content %}
    <h1 class="mt-4 mb-2 text-4xl font-medium leading-tight text-primary"><a href="/">Kara Galloway</a></h1>
    <form method="POST" action="/completion">
        <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="url" placeholder="Enter a URL" />
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" name="submit" value="Submit" />
    </form>
    <hr class="mt-4 mb-4">
    {% if completion %}
        {{ completion }}
    {% endif %}
{% endblock %}
